@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --light-blue: #8ecae6;
  --default-blue: #219ebc;
  --dark-blue: #023047;
  --light-orange: #ffb703;
  --orange: #fb8500;
  --main-red: #ec0800;
}

/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.active:not(.index-link) {
  background-color: var(--orange);
}

.header-link {
  padding: 12px;
  border-radius: 6px;
  font-weight: 700;

  transition: all 0.2s ease-in;
}

.header-link:hover {
  background-color: #fff;
  color: var(--orange);
}
